.catalog-wrap{
    align-items: start;
    flex-direction: row;
    gap: 32px;
    padding-bottom: 132px;
}
.catalog-title{
    padding-bottom: 32px;
    color: var(--pink);
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
}
.catalog-left{
    width: 100%;
    max-width: 435px;
    border: 2px solid #000;
}
.catalog-right{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.catalog-top{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.catalog-top-left{
    display: flex;
    gap: 20px;
}
.catalog-settings-view{
    display: flex;
    gap: 12px;
}
.catalog-settings-view-item__link{
    background-color: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 10px;
}
.catalog-list{
    flex-wrap: wrap;
    justify-content: unset;
    padding-top: 24px;
    gap: 48px 12px;
}
.catalog-setting-type-list{
    right: unset;
}
.catalog-pagination{
    display: flex;
    gap: 10px;
    padding-top: 64px;
}
.catalog-pagination-item__link{
    color: var(--grey-lighter);
    padding: 7px 11px;
    font-size: 18px;
    border-radius: 8px;
    text-decoration: none;
}
.catalog-pagination-item.active{
    color: var(--white);
    font-weight: bold;
    background-color: var(--pink);
    padding: 7px 11px;
    font-size: 18px;
    border-radius: 8px;
}
.catalog-pagination-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.catalog-item-icons{
    z-index: 997;
}
.catalog-filter-mob{
    display: flex;
    align-items: center;
    gap: 3px;
    background-color: var(--grey);
    width: max-content;
    padding: 9px 20px;
    cursor: pointer;
    border-radius: 8px;
    height: max-content;
}
@media(min-width: 1001px){
    .catalog-filter-mob{
        display: none;
    }
}
@media(max-width: 1800px){
    .catalog-left{
        padding-left: 10px;
    }
    .catalog-right{
        padding-right: 10px;
    }
    .catalog-title{
        padding: 0 10px 32px 10px;
    }
}
@media(max-width: 1610px){
    .catalog-item {
        max-width: 345px;
    }
    .catalog-item-top {
        height: 520px;
    }
    .catalog-item-icons{
        padding: 0 10px;
    }
}
@media(max-width: 1552px){
    .catalog-item {
        max-width: 323px;
    }
    .catalog-item-icons {
        max-width: 287px;
    }
    .catalog-item{
        height: max-content;
    }
    .catalog-item-top {
        height: 430px;
    }
}
@media(max-width: 1486px){
    .catalog-item {
        max-width: 295px;
    }
    .catalog-item-icons {
        max-width: 265px;
    }
}
@media(max-width: 1400px){
    .catalog-item {
        max-width: 275px;
    }
    .catalog-item-icons {
        max-width: 245px;
    }
    .catalog-item-top {
        height: 370px;
    }
}
@media(max-width: 1340px){
    .catalog-item {
        max-width: 265px;
    }
    .catalog-list{
        justify-content: space-between;
    }
    .catalog-item-icons {
        max-width: 235px;
    }
}
@media(max-width: 1310px){
    .catalog-item {
        max-width: 250px;
    }
    .catalog-item-icons {
        max-width: 218px;
    }
    .catalog-item-top {
        height: 325px;
    }
}
@media(max-width: 1270px){
    .catalog-left{
        max-width: 370px;
    }
}
@media(max-width: 1210px){
    .catalog-left {
        max-width: 310px;
    }
}
@media(max-width: 1140px){
    .catalog-item {
        max-width: 225px;
    }
    .catalog-item-top {
        height: 300px;
    }
    .catalog-item-icons {
        max-width: 195px;
    }
}
@media(max-width: 1075px){
    .catalog-item {
        max-width: 210px;
    }
    .catalog-item-top {
        height: 280px;
    }
    .catalog-item-icons {
        max-width: 180px;
    }
    .catalog-item-fraction-text {
        font-size: 15px;
    }
    .catalog-list{
        gap: 48px 0;
    }
}
@media(max-width: 1055px){
    .catalog-item {
        max-width: 255px;
    }
    .catalog-item-top {
        height: 335px;
    }
    .catalog-item-icons {
        max-width: 220px;
    }
    .catalog-item {
        max-width: 205px;
    }
    .catalog-item-icons {
        max-width: 175px;
    }
    .catalog-item-top {
        height: 270px;
    }
}
@media(max-width: 1001px){
    .catalog-left{
        display: none;
    }
    .catalog-top-left{
        padding-left: 10px;
    }
    .catalog-item {
        max-width: 300px;
    }
    .catalog-item-top {
        height: 385px;
    }
    .catalog-item-icons {
        max-width: 290px;
    }
}
@media(max-width: 998px){
    .catalog-list{
        justify-content: space-around;
    }
}
@media(max-width: 920px){
    .catalog-item {
        max-width: 255px;
    }
    .catalog-item-icons {
        max-width: 258px;
    }
    .catalog-item-top {
        height: 345px;
    }
}
@media(max-width: 800px){
    .catalog-item {
        max-width: 225px;
    }
    .catalog-item-top {
        height: 300px;
    }
    .catalog-item-icons {
        max-width: 232px;
    }
}
@media(max-width: 720px){
    .catalog-item {
        max-width: 195px;
    }
    .catalog-item-icons {
        max-width: 196px;
    }
    .catalog-item-top {
        height: 250px;
    }
    .catalog-item-fraction-text {
        font-size: 14px;
    }
}
@media(max-width: 682px){
    .catalog-item-icons {
        max-width: 170px;
    }
}
@media(max-width: 630px){
    .catalog-item {
        max-width: 280px;
    }
    .catalog-item-top {
        height: 375px;
    }
    .catalog-item-icons {
        max-width: 258px;
    }
}
@media(max-width: 585px){
    .catalog-item {
        max-width: 250px;
    }
    .catalog-item-top {
        height: 332px;
    }
    .catalog-item-icons {
        max-width: 225px;
    }
}
@media(max-width: 550px){
    .catalog-settings-view{
        display: none;
    }
    .catalog-top-left{
        width: 100%;
        justify-content: space-between;
    }
    .catalog-setting-type-list{
        right: 10px;
        left: unset;
    }
}
@media(max-width: 525px){
    .catalog-item {
        max-width: 225px;
    }
    .catalog-item-icons {
        max-width: 200px;
    }
    .catalog-item-top {
        height: 300px;
    }
}
@media(max-width: 485px){
    .catalog-item {
        max-width: 205px;
    }
    .catalog-item-top {
        height: 270px;
    }
    .catalog-item-icons {
        max-width: 180px;
    }
}
@media(max-width: 450px){
    .catalog-setting-type-list{
        right: 0;
    }
}
@media(max-width: 430px){
    .catalog-right{
        padding: 0 10px;
    }
    .catalog-item {
        max-width: 175px;
    }
    .catalog-item-top {
        height: 230px;
    }
    .catalog-item-icons {
        max-width: 154px;
    }
    .catalog-item-fraction-text {
        font-size: 13px;
    }
    .catalog-item-fraction{
        padding: 5px;
    }
}
@media(max-width: 395px){
    .catalog-filter-mob-text, .catalog-setting-type-current-text{
        font-size: 13px;
    }
    .catalog-filter-mob{
        padding: 6px 20px;
    }
}
@media(max-width: 380px){
    .catalog-item {
        max-width: 160px;
    }
    .catalog-item-top {
        height: 215px;
    }
    .catalog-item-icons {
        max-width: 137px;
    }
}
@media(max-width: 355px){
    .catalog-filter-mob {
        padding: 6px 11px;
    }
    .catalog-setting-type-current{
        padding: 11px;
    }
    .catalog-item {
        max-width: 145px;
    }
    .catalog-item-top {
        height: 200px;
    }
    .catalog-item-icons {
        max-width: 124px;
    }
    .catalog-item-fraction-text {
        font-size: 11px;
    }
}
@media(max-width: 340px){
    .catalog-pagination{
        gap: 0;
    }
}
@media (max-width: 335px) {
    .catalog-settings-view-item__link{
        padding: 7px;
    }
    .catalog-list{
        justify-content: space-between;
    }
    .catalog-item-fraction-text {
        font-size: 11px;
    }
}