.catalog-list{
    flex-direction: column ;
}
.catalog-item{
    height: unset;
    max-width: unset;
    justify-content: space-between;
    border-bottom: 2px solid var(--grey);
    padding: 24px 0 24px 16px;
}
.catalog-list{
    gap: 0;
}
.catalog-item:first-child{
    border-top: 2px solid var(--grey);
}
.catalog-item__img{
    border-radius: 4px;
    max-width: 100px;
    height: 100%;
    object-fit: cover;
}
.catalog-item-wrap{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.catalog-item-right{
    display: flex;
    align-items: center;
    gap: 18px;
}
.catalog-item__favorite{
    position: unset;
}
.catalog-item-action__link{
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white);
    background-color: var(--pink);
    border-radius: 8px;
    padding: 17px 40px;
    transition: 0.5s;
}
.catalog-item__favorite{
    padding: 18px;
    background-color: var(--grey);
}
.catalog-item-left{
    display: flex;
    gap: 32px;
}
.catalog-item-fraction{
    border-color: var(--pink);
}
.catalog-item-name{
    font-size: 18px;
}
.catalog-item-info-top{
    display: flex;
    align-items: center;
    gap: 12px;
    padding-bottom: 8px;
}
.catalog-item-sale{
    color: var(--white);
    background-color: var(--pink);
    font-size: 16px;
    padding: 6px 10px;
    border-radius: 40px;
}
.catalog-item-info{
    padding: 6px 0;
}
.catalog-filter-mob{
    display: flex;
    align-items: center;
    gap: 3px;
    background-color: var(--grey);
    width: max-content;
    padding: 11px 20px;
    cursor: pointer;
    border-radius: 8px;
    height: max-content;
}
@media screen{
    .catalog-item-action__link:hover{
        background-color: var(--pink-hover);
    }
}
@media(min-width: 1001px){
    .catalog-filter-mob{
        display: none;
    }
}
@media(max-width: 1800px){
    .catalog-left{
        padding-left: 10px;
    }
    .catalog-right{
        padding-right: 10px;
    }
    .catalog-title{
        padding: 0 10px 32px 10px;
    }
}
@media(max-width: 1001px){
    .catalog-left{
        display: none;
    }
}
@media(max-width: 700px){
    .catalog-item-pic{
        width: max-content;
    }
    .catalog-item-action__link{
        padding: 17px;
    }
}
@media(max-width: 615px){
    .catalog-item-wrap{
        flex-direction: column;
        align-items: start;
    }
}
@media(max-width: 411px){
    .catalog-item-left{
        gap: 13px;
    }
}
@media(max-width: 395px){
    .catalog-item-name {
        font-size: 15px;
    }
    .catalog-filter-mob-text, .catalog-setting-type-current-text{
        font-size: 13px;
    }
    .catalog-filter-mob{
        padding: 6px 20px;
    }
}
@media(max-width: 380px){
    .catalog-item__img{
        max-width: 80px;
    }
    .catalog-item-action__link{
        font-size: 12px;
    }
}
@media(max-width: 355px){
    .catalog-filter-mob {
        padding: 6px 11px;
    }
    .catalog-setting-type-current{
        padding: 11px;
    }
}
@media(max-width: 340px){
    .catalog-item-info-top{
        flex-direction: column;
        align-items: start;
    }
    .catalog-pagination{
        gap: 0;
    }
}