@import url("../fonts/geologica/style.css");
@font-face {
    font-family: 'Alethia Pro';
    src: local('Alethia Pro Italic'), local('AlethiaPro-Italic'), url('../fonts/alethiapro/Alethiaproitalic.woff2') format('woff2'), url('../fonts/alethiapro/Alethiaproitalic.woff') format('woff'), url('../fonts/alethiapro/Alethiaproitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Alethia Pro';
    src: local('Alethia Pro Regular'), local('AlethiaPro-Regular'), url('../fonts/alethiapro/Alethiaproregular.woff2') format('woff2'), url('../fonts/alethiapro/Alethiaproregular.woff') format('woff'), url('../fonts/alethiapro/Alethiaproregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    border: 1;
    font-size: 120%;
    font: inherit;
    vertical-align: baseline;
}
:root{
    --grey: rgba(106, 106, 110, 1);
    --white: #fff;
}
body{
    font-family: 'Alethia Pro';
}
.container{
    width: 100%;
    height: inherit;
    max-width: 1602px;
    margin: 0 auto;
}
