@import url("../fonts/geologica/style.css");
/*
@font-face {
    font-family: 'Alethia Pro';
    src: local('Alethia Pro Italic'), local('AlethiaPro-Italic'), url('../fonts/alethiapro/Alethiaproitalic.woff2') format('woff2'), url('../fonts/alethiapro/Alethiaproitalic.woff') format('woff'), url('../fonts/alethiapro/Alethiaproitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Alethia Pro';
    src: local('Alethia Pro Regular'), local('AlethiaPro-Regular'), url('../fonts/alethiapro/Alethiaproregular.woff2') format('woff2'), url('../fonts/alethiapro/Alethiaproregular.woff') format('woff'), url('../fonts/alethiapro/Alethiaproregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
*/
*{
    margin: 0;
    padding: 0;
    border: 1;
    font-size: 120%;
    font: inherit;
    vertical-align: baseline;
}
:root{
    --pink: rgba(244, 108, 162, 1);
    --pink-hover: rgba(243, 92, 152, 1);
    --pink-light: rgba(249, 189, 211, 1);
    --black: rgba(46, 46, 46, 1);
    --grey: rgba(245, 245, 245, 1); 
    --grey-lighter:  rgba(131, 131, 131, 1);
    --white: #fff;
}
body{
    font-family: 'Geologica Regular';
    overflow-x: hidden;
}
.container{
    width: 100%;
    height: inherit;
    max-width: 1800px;
    margin: 0 auto;
}
.site-header{
    position: absolute;
    width: 100%;
    z-index: 999;
    overflow: hidden;
}
.site-header.site-header--height{
    height: 100%;
}
.site-header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 25px 0;
}
.site-header-action{
    display: flex;
    align-items: center;
    gap: 20px;
}
.site-header-menu-toggle span i {
    width: 29px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4b4b4b;
    -webkit-transition: background-color 0s 0.15s, opacity 0.15s 0.15s;
    -o-transition: background-color 0s 0.15s, opacity 0.15s 0.15s;
    transition: background-color 0s 0.15s, opacity 0.15s 0.15s;
  }
  .site-header-menu-toggle span::before, .site-header-menu-toggle span::after {
    width: 21px;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #4b4b4b;
    -webkit-transition: background-color 0.3s, top 0.15s 0.15s, -webkit-transform 0.15s;
    transition: background-color 0.3s, top 0.15s 0.15s, -webkit-transform 0.15s;
    -o-transition: background-color 0.3s, top 0.15s 0.15s, transform 0.15s;
    transition: background-color 0.3s, top 0.15s 0.15s, transform 0.15s;
    transition: background-color 0.3s, top 0.15s 0.15s, transform 0.15s, -webkit-transform 0.15s;
  }
  .site-header-menu-toggle{
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 27px;
  }
  .site-header-menu-toggle span {
    display: block;
    position: relative;
    width: 22px;
    height: 3px;
    --rotateUp: 0;
    --rotateDown: 0;
    --top: 8px;
  }
  .site-header-menu-toggle span::before{
    top: calc(var(--top) * (-1));
    transform: rotate(var(--rotateUp));
  }
  .site-header-menu-toggle span::after{
    top: var(--top);
    transform: rotate(var(--rotateDown));
  }
  /*=======Banner=========*/
.banner-item{
    width: 100%;
    height: 1010px;
    display: flex;
    align-items: end;
}
.banner-item-bg{
    width: 100%;
    height: 930px;
    position: absolute;
    top: 0;
    background-size: cover;
}
.banner-item-bg-mob{
    display: none;
}
.banner-item-bottom{
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-item-bottom-wrap{
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.banner-item-content{
    display: flex;
    flex-direction: column;
    align-self: center;
    right: 150px;
    position: absolute;
    width: 100%;
    max-width: 653px;
}
.banner-item-title{
    font-size: 64px;
    font-weight: bold;
    padding-bottom: 40px;
    text-transform: uppercase;
}
.banner-item-title-color{
    color: var(--pink);
}
.banner-item-description{
    max-width: 376px;
    line-height: 1.8;
    padding-bottom: 40px;
}
.banner-item__link{
    background-color: var(--pink);
    text-transform: uppercase;
    color: var(--white);
    border-radius: 8px;
    padding: 17px 40px;
    text-decoration: none;
}
@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}
.banner-item-bottom-wrap span {
    white-space: nowrap;
    will-change: transform;
	animation: marquee 20s linear infinite;
}
.site-header-overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background-color: rgba(0, 0, 0, 0.5);
}
.site-header-overlay.show{
    display: block;
}
/*=========================*/
/*=======Authorization=====*/
.site-header-auth{
    width: 100%;
    max-width: 420px;
    background-color: var(--white);
    position: absolute;
    top: 0;
    right: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 40px;
    transform: translateX(100%);
    transition: 0.5s;
    z-index: 999;
}
.site-header-auth.show{
    transform: translateX(0);
}
.site-header-auth-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 40px;
}
.site-header-auth-title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    color: var(--black);
}
.auth-form-reg, .login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100% !important;
}
.auth-form-reg{
    display: none;
    padding-top: 0 !important;
}
.auth-form-reg__input, .login-form__input{
    background-color: var(--grey);
    color: var(--grey-lighter);
    border-radius: 8px;
    padding: 14px 24px;
    border: unset;
    width: 100%;
    max-width: 372px;
}
.auth-form-reg__input:focus,
.login-form__input:focus{
    border: unset;
}
.auth-form-reg__submit, .login-form__submit{
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--pink);
    border: unset;
    transition: 0.5s;
    border-radius: 8px;
    cursor: pointer;
}
.auth-form-reg-subscribe, .login-form-subscribe{
    display: flex;
    align-items: center;
    gap: 8px;
}
.auth-form-reg-subscribe__label,
.login-form-subscribe__label{
    font-size: 16px;
    color: var(--grey-lighter);
}
.auth-form-reg, .login-form-change-item, .auth-form-reg-change{
    width: max-content;
    color: var(--black);
    padding-top: 48px;
    padding-bottom: 3px;
    cursor: pointer;
}
.login-form-change-item, .auth-form-reg-change{
    border-bottom: 1px solid var(--grey-lighter);
}
.login-form-change-item{
    padding-top: 0;
}
.site-header-auth-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-form{
    width: 100%;
}
.login-form-change{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.login-form-change-item--reg{
    color: var(--grey-lighter);
    border-bottom: unset;
}
#login-tel{
    display: none;
}
/*=========================*/
.title{
    font-size: 64px;
    text-transform: uppercase;
    color: var(--pink);
    padding-bottom: 36px;
}
.site-main-section{
    padding-top: 120px;
}
.site-footer{
    background-color: var(--grey);
}
.site-footer-wrap{
    display: grid;
    padding: 60px 0;
    grid-template-areas: "logo shops company buyers contacts"
                         "copyright shops company buyers contacts";
}
.site-footer-item:nth-child(1){
    grid-area: logo;
}
.site-footer-item:nth-child(2){
    grid-area: copyright;
}
.site-footer-item:nth-child(3){
    grid-area: shops;
}
.site-footer-item:nth-child(4){
    grid-area: company;
}
.site-footer-item:nth-child(5){
    grid-area: buyers;
}
.site-footer-item:nth-child(6){
    grid-area: contacts;
}
.site-footer-title{
    color: var(--black);
    font-size: 20px;
    padding-bottom: 16px;
    font-weight: bold;
}
.site-footer-info{
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.site-footer-menu__link{
    text-decoration: none;
    font-size: 18px;
    color:var(--grey-lighter);
}
.site-footer-info__link{
    color: var(--black);
    text-decoration: none;
}
.site-footer-menu-item:not(:last-child){
    padding-bottom: 12px;
}
.site-footer-logo{
    padding-bottom: 20px;
}
.site-footer-copy{
    font-size: 16px;
    color:var(--grey-lighter);
    max-width: 169px;
}
/*=========Catalog==========*/
.catalog-wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
}
.catalog-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.catalog-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}
.catalog-item{
    width: 100%;
    max-width: 435px;
    height: 740px;
}
.catalog-item-wrap{
    display: flex;
    flex-direction: column;
    max-width: inherit;
}
.catalog-item-top{
    height: 600px;
    display: flex;
    max-width: inherit;
}
.catalog-item-img{
    height: inherit;
    max-width: inherit;
}
.catalog-item__favorite__img{
    padding: 10px;
}
.catalog-item-pic{
    max-width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 8px;
}
.catalog-item-link{
    text-decoration: none;
    max-width: inherit;
    color: var(--black);
}
.catalog-item-bottom{
    max-width: inherit;
}
.catalog-item-title{
    padding: 10px 0;
    font-size: 18px;
}
.catalog-item-price{
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
}
.catalog-item-price-sale{
    color:var(--grey-lighter);
    text-decoration: line-through;
    font-weight: 100;
}
.catalog-item-fraction{
    display: flex;
    gap: 10px;
    border: 5px solid var(--black);
    padding: 7px 12px;
    max-width: 215px;
    border-radius: 8px;
    align-items: center;
    width: max-content;
}
.catalog-item-fraction-text{
    font-size: 18px;
}
.catalog-show-all__link{
    background-color: var(--pink);
    text-decoration: none;
    color: var(--white);
    font-size: 18px;
    border-radius: 8px;
    padding: 0 40px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    transition: 0.5s;
}
.catalog-item__favorite{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--white);
    position: relative;
    z-index: 999;
    top: 20px;
    right: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.catalog-item-special{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--pink);
    position: relative;
    z-index: 999;
    top: 20px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.catalog-item-icons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: max-content;
    padding: 0 27px;
    position: absolute;
    max-width: 375px;
}
.catalog-item-icons .catalog-item__favorite{
    right: 0;
}
/*==========================*/
.site-main-sale{
    padding-bottom: 59px;
}
.buyers-middle{
    background-color: var(--pink-light);
}
.buyers-top__img{
    position: relative;
    bottom: -4px;
}
.buyers__title{
    padding-top: 60px;
    padding-bottom: 92px;
}
.buyers-item{
    width: 100%;
    max-width: 890px;
}
.buyers-item-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
}
.buyers-item:not(:first-child, :nth-child(3)){
    padding-top: 171px;
}
.buyers-item:nth-child(4){
    padding-top: 245px;
}
.buyers-item:nth-child(5){
    padding-top: 50px;
}
.buyers-content{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 59px;
}
.buyers-item__title{
    width: 100%;
    color: var(--pink);
    text-transform: uppercase;
    font-size: 48px;
    padding-bottom: 10px;
    max-width: 770px;
    z-index: 999;
}
.buyers-item__text{
    max-width: 770px;
    font-size: 18px;
    color: var(--black);
    line-height: 1.8;
    z-index: 999;
    position: relative;
}
:nth-last-child(1 of .buyers-item),
:nth-last-child(2 of .buyers-item){
    display: flex;
    justify-content: center;
}
.buyers-item__number{
    color: rgba(255, 255, 255, 0.4);
    font-size: 200px;
    position: absolute;
}
.buyers-bottom__img, .buyers-top__img{
    width: 100%;
}
.social{
    display: flex;
    gap: 15px;
}
.social__link{
    text-decoration: none;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--pink);
}
.about-container{
    background-color: rgba(245, 245, 245, 1);
    width: 100%;
    height: 735px;
}
.about-wrap{
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
    z-index: 998;
    position: relative;
    height: 800px;
    display: flex;
    align-items: end;
    background-size: 726px;
    background-color: rgba(245, 245, 245, 1);
}
.about-bottom{
    position: absolute;
    display: flex;
}
.about-bg{
    position: absolute;
    right: 0;
}
.about-bottom__img{
    width: 100%;
}
.about-slogan{
    text-transform: uppercase;
    max-width: 402px;
    font-size: 18px;
}
.about-title{
    padding-bottom: 20px !important;
}
.about-content{
    max-width: 1042px;
    height: 100%;
    max-height: 610px;
    display: flex;
    gap: 20px;
}
.about-content-left, .about-content-right{
    height: inherit;
}
.about-content-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 435px;
}
.about-content-right{
    display: flex;
    align-items: end;
    max-width: 587px;
}
.about__text{
    line-height: 1.65;
    font-size: 18px;
}
.about__text:not(:last-child){
    padding-bottom: 20px;
}
.site-main-subscribe{
    background-color: var(--pink-light);
}
.subscribe-wrap{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 69px;
}
.subscribe-title{
    font-size: 48px !important;
    max-width: 770px;
    text-align: center;
    padding-bottom: 16px !important;
}
.subscribe-text{
    max-width: 528px;
    text-align: center;
    padding-bottom: 32px;
    font-size: 18px;
    line-height: 1.7;
}
.subscribe-action{
    width: 100%;
    max-width: 894px;
}
.subscribe-form__button{
    padding: 17px 40px;
    color: var(--white);
    background-color: var(--pink);
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
}
.subscribe-form__input{
    width: 100%;
    max-width: 615px;
    padding: 14px 24px;
    background-color: rgba(255, 255, 255, 0.4);
    color: var(--black);
    border: none;
    border-radius: 8px;
}
.subscribe-form-wrap{
    display: flex;
    gap: 8px;
}
/*=========Menu========*/
.site-header-info{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--white);
    width: 100%;
    max-width: 500px;
    height: 996px;
    z-index: 999;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: 0.5s;
    transform: translateX(-100%);
}
.site-header-info.show{
    transform: translateX(0);
}
.site-header-info-wrap{
    padding: 30px 40px;
    height: 100%;
    max-height: 936px;
}
.info-nav-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.info-nav-list-item{
    list-style: none;
}
.info-nav-list-item__link{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
    color: var(--black);
    display: block;
    width: 100%;
}
.info-nav-list-item__link--pink{
    color: var(--pink);
}
.site-header-info-content{
    height: 100%;
    max-height: 852px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.site-header-info-top{
    display: flex;
    justify-content: end;
    padding-bottom: 40px;
}
.site-header__close{
    cursor: pointer;
}
.site-header-contacts__phone{
    color: var(--black);
    text-decoration: none;
    font-size: 24px;
    padding-bottom: 4px;
}
.site-header-contacts-shedule{
    font-size: 14px;
    color: var(--grey-lighter);
}
.site-header-contacts-top{
    padding-bottom: 24px;
}
/*=====================*/
@media screen {
    .catalog-show-all__link:hover,
    .auth-form-reg__submit:hover,
    .login-form__submit:hover{
        background-color: var(--pink-hover);
    }
}
@media(max-width: 1800px){
    .catalog-item{
        max-width: 365px;
    }
    .catalog-item-icons{
        max-width: 310px;
    }
    .site-header-menu-toggle{
        padding-left: 15px;
    }
    .site-header-action{
        padding-right: 15px;
    }
    .site-main-section:not(.site-main-buyers, .site-main-about), 
    .buyers-middle, .about-container{
        padding: 120px 10px 0 10px;
    }
    .site-footer-wrap{
        padding: 60px 10px;
    }
}
@media(max-width: 1700px){
    .banner-item-content{
        right: 0;
    }
}
@media(max-width: 1550px){
    .banner-item-content{
        max-width: 600px;
    }
}
@media(max-width: 1500px){
    .catalog-item-top{
        height: 510px;
    }
    .catalog-item {
        max-width: 330px;
    }
    .catalog-item-icons {
        max-width: 275px;
    }
    .banner-item-title {
        font-size: 50px;
    }
    .banner-item-content {
        max-width: 470px;
    }
}
@media(max-width: 1350px){
    .catalog-item {
        max-width: 300px;
        height: max-content;
    }
    .catalog-item-icons {
        max-width: 246px;
    }
    .banner-item{
        height: 900px;
    }
    .banner-item-bg{
        height: 820px;
    }
    .site-footer-wrap{
        flex-wrap: wrap;
    }
}
@media(max-width: 1225px){
    .catalog-item{
        max-width: 270px;
    }
    .catalog-item-top {
        height: 420px;
    }
    .container:not(.container--nopadding){
        padding: 0 10px;
    }
    .catalog-item-icons {
        max-width: 220px;
    }
    .banner-item-bg {
        height: 720px;
    }
    .banner-item {
        height: 800px;
    }
}
@media(max-width: 1080px){
    .site-footer-wrap{
        justify-content: unset;
        gap: 40px;
    }
}
@media(max-width: 1140px){
    .banner-item-bg {
        height: 600px;
    }
    .banner-item {
        height: 680px;
    }
    .banner-item-title {
        font-size: 44px;
    }
}
@media(max-width: 1110px){
    .catalog-item {
        max-width: 245px;
    }
    .catalog-item-top {
        height: 350px;
    }
    .catalog-item-icons{
        padding: 0 13px;
    }
}
@media(max-width: 1020px){
    .banner-item-title {
        font-size: 36px;
    }
    .banner-item-content {
        max-width: 415px;
    }
}
@media(max-width: 1000px){
    .catalog-list{
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 30px 0;
    }
    .catalog-item {
        max-width: 49%;
    }
    .catalog-item-pic, .catalog-item-wrap, .catalog-item-top{
        max-width: 100%;
        width: 100%;
    }
    .catalog-item-top {
        height: 540px;
        flex-direction: column;
        align-items: end;
    }
    .catalog-item {
        max-width: 39%;
    }
    .catalog-item-icons {
        max-width: 100%;
        position: relative;
        top: -537px;
    }
    .catalog-item__favorite{
        margin: 10px;
        position: absolute;
        top: unset;
        right: unset;
    }
    .catalog-item-special{
        top: 10px;
        left: 27px;
    }
}
@media(max-width: 975px){
    .banner-item-bg {
        height: 525px;
    }
    .banner-item {
        height: 605px;
    }
    .banner-item-content{
        padding-bottom: 50px;
    }
}
@media(max-width: 905px){
    .banner-item-bg {
        height: 442px;
    }
    .banner-item {
        height: 520px;
    }
}
@media(max-width: 900px){
    .banner-item-bg{
        display: none;
    }
    .banner-item-bg-mob{
        display: block;
    }
    .banner-item{
        height: 636px;
    }
    .banner-item-content{
        background: linear-gradient(to top, rgba(0, 0, 0, 0.7), 80%, var(--white));
        align-items: center;
        padding-bottom: 35px;
        padding-top: 120px;
        max-width: 100%;
    }
    .banner-item-title, .banner-item-title-color, .banner-item-description{
        color: #fff;
        text-align: center;
    }
    .banner-item-title{
        max-width: 376px;
    }
    .banner-item__link{
        padding: 17px 116px;
    }
}
@media(max-width: 880px){
    .catalog-item-top {
        height: 473px;
    }
    .catalog-item-icons{
        top: -471px;
    }
}
@media(max-width: 768px){
    .catalog-item-top {
        height: 422px;
    }
    .catalog-item-icons{
        top: -421px;
    }
    .catalog-item {
        max-width: 47%;
    }
    .catalog-item-wrap{
        align-items: baseline;
    }
    .catalog-item-special, .catalog-item__favorite {
        width: 60px;
        height: 60px;
    }
    .catalog-item-img{
        width: 100%;
        max-width: 100%;
    }
}
@media(max-width: 600px){
    .catalog-item-top {
        height: 373px;
    }
    .catalog-item-icons {
        top: -370px;
    }
    .catalog-item-special, .catalog-item__favorite {
        width: 45px;
        height: 45px;
    }
}
@media(max-width: 586px){
    .catalog-item-top {
        height: 300px;
    }
    .catalog-item-icons {
        top: -299px;
    }
}
@media(max-width: 500px){
    .catalog-item-top {
        height: 268px;
    }
    .catalog-item-icons {
        top: -266px;
    }
    .catalog-item-fraction-text {
        font-size: 14px;
    }
    .catalog-item-fraction{
        padding: 5px 9px;
    }
}
@media(max-width: 450px){
    .catalog-item-top {
        height: 240px;
    }
    .catalog-item-icons {
        top: -239px;
    }
}
@media(max-width: 410px){
    .catalog-item-title{
        font-size: 14px;
    }
    .catalog-item-price{
        font-size: 16px;
    }
    .catalog-item-special, .catalog-item__favorite{
        width: 40px;
        height: 40px;
    }
}
@media(max-width: 385px){
    .catalog-item-fraction {
        padding: 5px;
        align-items: center;
    }
    .catalog-item-fraction__img{
        width: 18px;
        height: 18px;
    }
}
@media(max-width: 350px){
    .catalog-item {
        max-width: 45%;
    }
    .catalog-item-fraction{
        border: 3px solid var(--black);
    }
    .catalog-item-fraction-text {
        font-size: 12px;
    }
    .catalog-item-special, .catalog-item__favorite {
        width: 30px;
        height: 30px;
        font-size: 11px;
    }
    .catalog-item__favorite__img{
        max-width: 17px;
    }

}