@import url("../fonts/geologica/style.css");
@font-face {
    font-family: 'Alethia Pro';
    src: local('Alethia Pro Italic'), local('AlethiaPro-Italic'), url('../fonts/alethiapro/Alethiaproitalic.woff2') format('woff2'), url('../fonts/alethiapro/Alethiaproitalic.woff') format('woff'), url('../fonts/alethiapro/Alethiaproitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Alethia Pro';
    src: local('Alethia Pro Regular'), local('AlethiaPro-Regular'), url('../fonts/alethiapro/Alethiaproregular.woff2') format('woff2'), url('../fonts/alethiapro/Alethiaproregular.woff') format('woff'), url('../fonts/alethiapro/Alethiaproregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    border: 1;
    font-size: 120%;
    font: inherit;
    vertical-align: baseline;
}
:root{
    --grey: rgba(106, 106, 110, 1);
    --white: #fff;
}
body{
    font-family: 'Alethia Pro';
}
.container{
    width: 100%;
    height: inherit;
    max-width: 1602px;
    margin: 0 auto;
}
.site-header{
    position: relative;
    z-index: 999;
    padding: 20px 0;
}
.site-header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-keader-nav-list{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
    max-width: 623px;
}
.site-header-nav-list__item{
    list-style-type: none;
    width: a;
}
.site-header-nav-list__link{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white);
    white-space: nowrap;
    font-size: 18px;
}
.site-header-action{
    width: 152px;
    border: 1px solid var(--white);
    height: 25px;
}
.site-header--home{
    width: 100%;
    position: absolute;
    top: 0;
}
.site-main-slider{
    height: 951px;
}
.slider-item{
    background-size: cover;
    height: 950px;
    background-position-y: -50px;
}
.slider-item-wrap{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: inherit;
    max-height: 885px;
}
.slider-item-subtitle{
    font-family: 'Geologica Regular';
    font-size: 18px;
    color: var(--white);
    padding-bottom: 12px;
    text-transform: uppercase;
}
.slider-item-title{
    font-family: 'Alethia Pro';
    color: var(--white);
    font-size: 48px;   
    padding-bottom: 40px;
}
.slider-item-action-link{
    font-family: 'Geologica Regular';
    font-size: 18px;
    text-transform: uppercase;
    color: var(--grey);
    background-color: var(--white);
    border-radius: 8px;
    padding: 14px 94px;
    text-decoration: none;
}
.slider-pagination{
    border: 2px solid #fff;
    width: 100px;
    height: 20px;
}
.site-footer{
    width: 100%;
    height: 200px;
}
.site-main-about{
    background-color: rgba(244, 244, 247, 1);
}
.about-wrap{
    padding: 100px 0 80px 0;
}
.title-text{
    font-size: 42px;
    color: var(--grey);
    white-space: nowrap;
}
.title{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}
.title__hidden{
    margin-bottom: 10px;
    width: 100%;
    max-width: 1365px;
    border-bottom: 1px solid rgba(146, 147, 159, 1);
}
.about-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-description{
    font-size: 36px;
    color: var(--grey);
    padding-bottom: 48px;
}
.about-link{
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--grey);
    border-radius: 8px;
    border: 1px solid var(--grey);
    font-weight: bold;
    padding: 14px 62px;
}