@import url("../fonts/geologica/style.css");
/*
@font-face {
    font-family: 'Alethia Pro';
    src: local('Alethia Pro Italic'), local('AlethiaPro-Italic'), url('../fonts/alethiapro/Alethiaproitalic.woff2') format('woff2'), url('../fonts/alethiapro/Alethiaproitalic.woff') format('woff'), url('../fonts/alethiapro/Alethiaproitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Alethia Pro';
    src: local('Alethia Pro Regular'), local('AlethiaPro-Regular'), url('../fonts/alethiapro/Alethiaproregular.woff2') format('woff2'), url('../fonts/alethiapro/Alethiaproregular.woff') format('woff'), url('../fonts/alethiapro/Alethiaproregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
*/
*{
    margin: 0;
    padding: 0;
    border: 1;
    font-size: 120%;
    font: inherit;
    vertical-align: baseline;
}
:root{
    --pink: rgba(244, 108, 162, 1);
    --black: rgba(46, 46, 46, 1);
    --grey: rgba(245, 245, 245, 1); 
    --white: #fff;
}
body{
    font-family: 'Geologica Regular';
    overflow-x: hidden;
}
.container{
    width: 100%;
    height: inherit;
    max-width: 1800px;
    margin: 0 auto;
}
.site-header{
    position: absolute;
    width: 100%;
    z-index: 999;
}
.site-header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 25px 0;
}
.site-header-action{
    display: flex;
    gap: 20px;
}
.site-header-menu-toggle span i {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4b4b4b;
    -webkit-transition: background-color 0s 0.15s, opacity 0.15s 0.15s;
    -o-transition: background-color 0s 0.15s, opacity 0.15s 0.15s;
    transition: background-color 0s 0.15s, opacity 0.15s 0.15s;
  }
  .site-header-menu-toggle span::before, .site-header-menu-toggle span::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #4b4b4b;
    -webkit-transition: background-color 0.3s, top 0.15s 0.15s, -webkit-transform 0.15s;
    transition: background-color 0.3s, top 0.15s 0.15s, -webkit-transform 0.15s;
    -o-transition: background-color 0.3s, top 0.15s 0.15s, transform 0.15s;
    transition: background-color 0.3s, top 0.15s 0.15s, transform 0.15s;
    transition: background-color 0.3s, top 0.15s 0.15s, transform 0.15s, -webkit-transform 0.15s;
  }
  .site-header-menu-toggle{
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .site-header-menu-toggle span {
    display: block;
    position: relative;
    width: 22px;
    height: 3px;
    --rotateUp: 0;
    --rotateDown: 0;
    --top: 8px;
  }
  .site-header-menu-toggle span::before{
    top: calc(var(--top) * (-1));
    transform: rotate(var(--rotateUp));
  }
  .site-header-menu-toggle span::after{
    top: var(--top);
    transform: rotate(var(--rotateDown));
  }
  /*=======Banner=========*/
.banner-item{
    width: 100%;
    height: 1010px;
    display: flex;
    align-items: end;
}
.banner-item-bg{
    width: 100%;
    height: 930px;
    position: absolute;
    top: 0;
}
.banner-item-bottom{
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-item-bottom-wrap{
    width: 100%;
    display: flex;
    align-items: center;
}
.banner-item-content{
    display: flex;
    flex-direction: column;
    align-self: center;
    right: 150px;
    position: absolute;
    width: 100%;
    max-width: 653px;
}
.banner-item-title{
    font-size: 64px;
    font-weight: bold;
    padding-bottom: 40px;
    text-transform: uppercase;
}
.banner-item-title-color{
    color: var(--pink);
}
.banner-item-description{
    max-width: 376px;
    line-height: 1.8;
    padding-bottom: 40px;
}
.banner-item__link{
    background-color: var(--pink);
    text-transform: uppercase;
    color: var(--white);
    border-radius: 8px;
    padding: 17px 40px;
    text-decoration: none;
}
@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}
.banner-item-bottom-wrap span {
	position: absolute; 
    white-space: nowrap;
    will-change: transform;
	animation: marquee 20s linear infinite;
}
/*=========================*/
.title{
    font-size: 64px;
    text-transform: uppercase;
    color: var(--pink);
    padding-bottom: 36px;
}
.site-main-section{
    padding-top: 120px;
}
.site-footer{
    background-color: var(--grey);
}
.site-footer-wrap{
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
}
.site-footer-title{
    color: var(--black);
    font-size: 20px;
    padding-bottom: 16px;
    font-weight: bold;
}
.site-footer-menu__link{
    text-decoration: none;
    font-size: 18px;
    color: rgba(131, 131, 131, 1);
}
.site-footer-menu-item:not(:last-child){
    padding-bottom: 12px;
}
.site-footer-logo{
    padding-bottom: 20px;
}
.site-footer-copy{
    font-size: 16px;
    color: rgba(131, 131, 131, 1);
    max-width: 169px;
}
/*=========Catalog==========*/
.catalog-wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
}
.catalog-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.catalog-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}
.catalog-item{
    width: 100%;
    max-width: 435px;
    height: 740px;
}
.catalog-item-wrap{
    display: flex;
    flex-direction: column;
}
.catalog-item-top{
    height: 600px;
    display: flex;
    justify-content: end;
}
.catalog-item-img{
    height: inherit;
    position: absolute;
}
.catalog-item-pic{
    max-width: 435px;
    height: inherit;
    object-fit: cover;
    border-radius: 8px;
}
.catalog-item-link{
    text-decoration: none;
    color: var(--black);
}
.catalog-item-title{
    padding: 10px 0;
    font-size: 18px;
}
.catalog-item-price{
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
}
.catalog-item-price-sale{
    color: rgba(131, 131, 131, 1);
    text-decoration: line-through;
    font-weight: 100;
}
.catalog-item-fraction{
    display: flex;
    gap: 10px;
    border: 5px solid var(--black);
    padding: 7px 12px;
    max-width: 215px;
    border-radius: 8px;
    align-items: center;
    width: max-content;
}
.catalog-item-fraction-text{
    font-size: 18px;
}
.catalog-show-all__link{
    background-color: var(--pink);
    text-decoration: none;
    color: var(--white);
    font-size: 18px;
    border-radius: 8px;
    padding: 0 40px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.catalog-item-favorite{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--white);
    position: relative;
    z-index: 999;
    top: 20px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.catalog-item-special{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--pink);
    position: relative;
    z-index: 999;
    top: 20px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.catalog-item-icons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: max-content;
    padding: 0 27px;
}
.catalog-item-icons .catalog-item-favorite{
    right: 0;
}
/*==========================*/
.buyers-middle{
    background-color: rgba(249, 189, 211, 1);
}
.buyers-top__img{
    position: relative;
    bottom: -4px;
}
.buyers__title{
    padding-top: 60px;
    padding-bottom: 92px;
}
.buyers-item{
    width: 100%;
    max-width: 890px;
}
.buyers-item-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
}
.buyers-item:not(:first-child, :nth-child(3)){
    padding-top: 171px;
}
.buyers-item:nth-child(4){
    padding-top: 245px;
}
.buyers-item:nth-child(5){
    padding-top: 50px;
}
.buyers-content{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 59px;
}
.buyers-item__title{
    width: 100%;
    color: var(--pink);
    text-transform: uppercase;
    font-size: 48px;
    padding-bottom: 10px;
    max-width: 770px;
    z-index: 999;
}
.buyers-item__text{
    max-width: 770px;
    font-size: 18px;
    color: var(--black);
    line-height: 1.8;
    z-index: 999;
    position: relative;
}
:nth-last-child(1 of .buyers-item),
:nth-last-child(2 of .buyers-item){
    display: flex;
    justify-content: center;
}
.buyers-item__number{
    color: rgba(255, 255, 255, 0.4);
    font-size: 200px;
    position: absolute;
}
